@import url("styles/themes/theme-suzi.min.css");
.factory-flag{ visibility: hidden; }


/* About Me section */
.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center;
    margin-top:auto;
    width: 40%;
    max-height: 24vw;
    clip-path: circle(45% at center);
}

.profile-picture img {
    width: 100%;
}

.overflow-width-50 {
    margin-left: -50%;
    margin-right: -50%;
}

.parallax-element {
    opacity: 1;
    transform-origin: center center 0px;

    transform: translate3d(0px, 0px, 0px) scale(1, 1);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);

    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: block;

    vertical-align: middle;
    border: 0;
}